// alerts.scss

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        color: rgba(var(--bs-#{$color}-rgb), 0.85);
        background-color: rgba(var(--bs-#{$color}-rgb), 0.2);
        border-color: rgba(var(--bs-#{$color}-rgb), .4) !important;

        .alert-icon {
            background-color: rgba(var(--bs-#{$color}-rgb), 0.08);
        }

        .alert-link {
            color: rgba(var(--bs-#{$color}-rgb), 0.75);
        }

        hr {
            border-color: rgba(var(--bs-#{$color}-rgb), .4);
        }
    }

    .alert-outline-#{$color} {
        --#{$prefix}alert-border-color: var(--bs-#{$color});
        --#{$prefix}alert-color: var(--bs-#{$color});
        --#{$prefix}alert-bg: transparent;

        .alert-icon {
            background-color: rgba(var(--bs-#{$color}-rgb), 0.1);
        }

        hr {
            border-color: var(--bs-#{$color});
        }
    }
}

.alert-outline-light,
.alert-light {
    color: $dark;
}

.alert-dismissible .btn-close {
    padding: 1.1rem 0.8rem 1.1rem 1rem;
    transition: $transition;

    &:hover {
        transform: rotate(-90deg);
    }
}

.alert {
    &.alert-with-icon {
        padding: 0;
        display: flex;
        border: 1px solid;

        .alert-icon {
            padding: $alert-padding-y - 0.2 $alert-padding-x;
            border-radius: $alert-border-radius 0 0 $alert-border-radius;
            display: flex;
            align-items: center;
            font-size: 20px;
        }

        .alert-text {
            padding: $alert-padding-y $alert-padding-x * 3 $alert-padding-y $alert-padding-x;
        }
    }
}

[data-bs-theme="dark"] .alert-secondary,
.alert-light,
.alert-outline-secondary {
    color: $gray-500;
}

[data-bs-theme="dark"] .alert-dark {
    background-color: $gray-800 !important;
    color: $gray-500;
}

[data-bs-theme="dark"] .alert-outline-light {
    color: $gray-500;
    border-color: var(--bs-border-color);
}

[data-bs-theme="dark"] .alert-outline-dark {
    color: $gray-500;
    border-color: $gray-800;
}