// avatar.scss
@each $color, $value in $theme-colors {
    .avatar-border-#{$color} {
        box-shadow: 0px 0px 0px 1px var(--bs-#{$color});
        border: 3px solid var( --bs-bg-light-color);
    }

    .avatar-#{$color} {
        background-color: var(--bs-#{$color});
        color: $white;
    }

    .avatar-outline-#{$color} {
        border: $border-width solid var(--bs-#{$color});
        color: var(--bs-#{$color});
    }

    .avatar-soft-#{$color} {
        background-color: rgba(var(--bs-#{$color}-rgb), .12);
        border: $border-width solid rgba(var(--bs-#{$color}-rgb), .25);
        color: var(--bs-#{$color});
    }

    .avatar-group-text {
        .avatar-outline-#{$color} {
            background-color: $white;
            box-shadow: 0px 0px 0px 1px var(--bs-#{$color});
        }

        .avatar-soft-#{$color} {
            box-shadow: 0px 0px 0px 1px rgba(var(--bs-#{$color}-rgb), .25);
        }
    }
}

// avatar size
$avatar-sizes: (
    'xxxs': (24px, 8px, 12px),
    'xxs': (30px, 10px, 16px),
    'xs': (34px, 12px, 18px),
    'sm': (38px, 14px, 20px),
    'md': (42px, 16px, 22px),
    'lg': (46px, 18px, 26px),
    'xl': (50px, 22px, 30px),
    'xxl': (55px, 24px, 34px),
    'xxxl': (60px, 30px, 40px),
    'xxxxl': (75px, 36px, 40px),
);

@each $breakpoint, $breakpoint-value in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    $pfx: if($breakpoint == "xs", "", "-#{$breakpoint}");
    @each $size, $values in $avatar-sizes {
      .avatar-img#{$pfx}-#{$size},
      .avatar#{$pfx}-#{$size} {
        $dimension: nth($values, 1);
        
        height: $dimension !important;
        width: $dimension !important;
        min-height: $dimension !important;
        min-width: $dimension !important;
        font-size: nth($values, 2) !important;

        &:has(i) {
          font-size: nth($values, 3) !important;
        }
      }
    }
  }
}

// Avarat Icon
.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Avatar Group
.avatar-group {
    display: flex;
    align-items: center;

    .avatar {
        position: relative;
        border: 3.5px solid var(--bs-bg-light-color);
        margin-left: -12px;
        box-shadow: $box-shadow;

        &:first-child {
            margin-left: 0;
        }
    }

    &.avatar-group-text {
        .avatar {
            position: relative;
            border: 3.5px solid var(--bs-bg-light-color);
            margin-left: -12px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

@each $color, $value in $theme-colors {
    .icon-bg-shadow-#{$color} {
        text-shadow: 2px 2px 50px rgba(var(--bs-#{$color}-rgb), .12);
    }
}