// form.scss

.custom-form-input {
    position: relative;

    .input-icon-s {
        font-size: $input-font-size;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    }

    .form-select {
        padding-left: 32px;
    }
}

.form-control {
    background-color: var(--bs-input-form-bg-color);
    color: var(--bs-text-dark) !important;

    &:focus {
        background-color: var(--bs-input-form-bg-color);
        color: var(--bs-text-dark);
        border-color: var(--bs-input-border-focus-color);
    }

    &::placeholder {
        color: var(--bs-input-placeholder-color);
    }
}

.form-select {
    background-color: var(--bs-input-form-bg-color);
    color: var(--bs-text-dark);

    &:focus {
        background-color: var(--bs-input-form-bg-color);
        color: var(--bs-text-dark);
    }
}

.form-check-input {
    background-color: var(--bs-input-form-bg-color);
    color: var(--bs-text-dark);


    &:checked {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
    }

    &:focus {
        border-color: rgba(var(--bs-primary-rgb), 0.5);
        box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
    }
}

.form-check {
    padding-left: $form-check-padding-start;
    .form-check-input {
        float: left;
        margin-left: -1.5em;
    }
}

input::file-selector-button {
    color: var(--bs-text-dark) !important;
}

.input-group-text {
    color: var(--bs-text-dark) !important;
}

.form-label,
.form-check-label {
    color: var(--bs-text-muted) !important;
}

.input-right-icon {
    i {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }

    .form-control {
        padding-right: $input-padding-x * 2.5;
    }
}

.input-select-icon {
    position: relative;

    .input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: $form-select-padding-x-sm * 0.65;
    }

    .form-select {
        &.form-select-sm {
            padding-left: $form-select-padding-x-sm * 2;
        }
    }
}


// radio-btn
.radio-btn {
    padding: $spacer $grid-gutter-width;
    border: $border-width solid $border-color;
    border-radius: $border-radius-lg;

    &.radio-active {
        border-color: $danger;
    }

    @include media-breakpoint-down(xl) {
        padding: 0.6rem 1rem;
    }
}

