// nav-tabs.scss
.nav {
    &.nav-pills {
        gap: 12px;
        .nav-item {
            .nav-link {
                font-weight: $font-weight-normal;
                color: $gray-600;
                background-color: $light;
                transition: $transition-base;
                &:hover {
                    background-color: rgba($primary, 0.15);
                    border-color: rgba($primary, 0.05);
                    color: $primary;
                }
                &.active {
                    background-color: $primary;
                    border-color: $primary;
                    color: $white;
                    box-shadow: 0px 3px 6px rgba(shade-color($primary, 50%), .25);
                }
            }
        }
    }
}